<%= form_for([@project, @task]) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, id: :task_name %>
    </div>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, id: :task_description %>
    </div>

    <div class="field">
        <%= f.label :done %>
        <%= f.check_box :done, id: :task_done %>
    </div>

    <div class="field">
        <%= f.label :deadline %>
        <%= f.date_field :deadline, id: :task_deadline %>
    </div>

    <div class="field">
        <%= f.label :priority %>
        <%= f.number_field :priority, id: :task_priority %>
    </div>

    <div class="field">
        <%= f.label :advancement %>
        <%= f.number_field :advancement, id: :task_advancement %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>

<%= link_to "Back to project", project_path(@task.project) %>