<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>

<h1>Vos projets</h1>
<%= link_to "Créer un nouveau projet", new_project_path %>

<% @projects.each do |project| %>


    <div class="project-card">
        <h3>Nom du projet : <%= project.name %></h3>
        <hr>
        <p>Description du projet : <%= project.description %></p>
        <p>Statut du projet : <%= project.status %></p>
        <p>Nombre de participants : <%= project.users.count %></p>
        <%= link_to "Voir le projet", project_path(project) %>
        <%= link_to "Supprimer le projet", project_path(project), data: { "turbo-method": :delete , turbo_confirm: 'Are you sure to delete project ?' } %>
    </div>


<% end %>


<style>

    .project-card {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        width: fit-content;
        height: fit-content;
        box-shadow: 0 0 10px #c9c9c9;
    }

</style>

