<!DOCTYPE html>
<html>
    <head>
        <title>ProJet</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "turbo", type: "module" %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </head>

    <body>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

    </body>
</html>

<style>

    .field {
        margin: 1rem;
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    .btn-back {
        padding: 1rem;
        color: white;
        background-color: #002db5;
        border: 2px solid #ffffff;
        border-radius: 0.5rem;
        cursor: pointer;
        text-decoration: none;
    }

    .btn-back:hover {
        background-color: #ffffff;
        color: #002db5;
        border: 2px solid gray;
    }

    .btn-add {
        padding: 1rem;
        color: white;
        background-color: #00a811;
        border: 2px solid #ffffff;
        border-radius: 0.5rem;
        cursor: pointer;
        text-decoration: none;
    }

    .btn-add:hover {
        background-color: #ffffff;
        color: #00a811;
        border: 2px solid gray;
    }

</style>
